
.form_about_title{
    padding-top: 105px;
}
.form_contact{
    margin-top: 50px;
}
.form_feed{
    position: relative;
    top: 45px;
    padding-left: 42px;
    float: left;
    padding-right:50px;
}
.floating{
    width: 400px;
    padding-right: 50px;
    border-right: 1px solid #dbd6d6;
}
.form_about{
    padding-top: 45px;
}
.form_about{
    display: block;
}