.all_footer{
    background-color: #0092be;
}
.footer{
    display: flex;
    justify-content: space-between;
    height: 250px;
    width: 1200px;
    margin: 0 auto;
    color: #fafafa;
}
.about_footer {
    margin-top: 20px;
    font-size: 13px;
}
.about_footer img{
    width: 130px;
    margin-left: 25px;
}
.gmap_footer{
    margin-top: 20px;
    font-size: 14px;
}
.contact_footer{
    margin-top: 20px;
    font-size: 14px;
}
.logo_footer img{
    margin-top: 30px;
    width: 200px;
}
.link_footer a{
    color: #fafafa;
    font-size: 18px;
    margin-right: 20px;
}
.link_footer a:hover{
    color: #043848;
}
.category_footer{
    display: grid;
    margin-top: 20px;
}
.category_footer a{
    text-decoration: none;
    color: #fafafa;
}
.category_footer p{
    margin-top: -30px;
}
.category_footer a:hover{
    color: #043848;
}
.end_footer{
    background-color: black;
    color: #fafafa;
    text-align: center;
    height: 23px;
    font-size: 13px;
}