*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.containerr{
    width: 1200px;
    margin: 0 auto;
}
.all_head_one{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header_first{
    background-color:#3d99eb;
    height: 30px;
}
.open_time{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 4px;
    color: #fafafa;
}
.open_time .bi{
    margin-right: 10px;
}
.open_time .bi-telephone{
    margin-left: 25px;
}
.header_second img{
    height: 60px;
    margin-left: -30px;
}
.header_second .header_li{
    display: inline-flex;
    font-size: 17px;
}
.header_li.submenu_parent {
    padding-bottom: 25px;
}
.head_li{
    height: 70px;
    padding-top: 5px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header_second{
    position: fixed;
    top: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: #f7f7f7;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .06);
    z-index: 1000;
}
.header_second a{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}
.header_second a:hover{
    color: #3d99eb;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 2px solid #ff1010;
    padding: 10px;
}

.submenu li {
    list-style-type: none;
}
.submenu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 0;
}
.header_li.submenu_parent:hover .submenu {
    display: block;
}
.form-control me-2{
    width: 50px;
}